*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url(./original-cf32a7997319ec3f6c938a104587ed0f_cleanup.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
    font-family: "Montserrat", "Roboto", sans-serif;
    backdrop-filter: blur(0.3rem);
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header h1{
    font-size: 3rem;
    font-weight: 500;
    color: #1C2F3D;
    font-family: "Montserrat", sans-serif;
}

form{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1C2F3D;
}

input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: inherit;
}

.searchBtn, .show-more{
    cursor: pointer;
    height: 100%;
    padding: 0.95rem 1rem;
    background-color: #1C2F3D;
    border: none;
    color: white;
    justify-self: flex-end;
    font-family: inherit;
}

.image-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0.5rem;
}

.image-card{
    width: 32%;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0;
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.image-card:hover{
    background-position: top;
    box-shadow: 15px 15px 10px 5px rgb(0, 0, 0, 0.3);
    background-size: cover, 10%;
}

.image-card a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    padding: 0 0.5rem;
}

.text{
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    padding: 0 0.5rem;
}

.download{
    width: auto;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    padding: 0 0.5rem;
}

.download i{
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
}

.download img{
    display: none;
}


.description{
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    opacity: 0;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.image-card:hover .description{
    opacity: 1;
}

.show-more{
    justify-self: flex-end;
    display: none;
}